* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6; /*In the <h1> "HORISEON", the "SEO" is supposed to be this color*/
}

/* TODO: for sized-down windows, extend the background of the list across the whole width of the browser
    If the browser window is resized narrowly enough, the unordered list pops down onto the image, and looks ugly.
    (without the header background, the white text is hard to read).
    The 'box-sizing' and 'background-color' properties here make the effect less ugly, but it's not an ideal solution*/

.header ul {
    list-style-type: none;
    box-sizing: border-box;
    background-color: #2a607c;
    margin: 10px;
    padding: 10px;
    float: right;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}

/* banner image, just below the header, above the content */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*  Below the header and banner image, the layout if defined by the "benefit-mothership" box
    The "benefit-mothership" box content takes up the right 20% of the window, and has a contiguous background
    The remaining 80% of the window, on the left, are "service"s, which have discontiguous backgrounds*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* benefit-mothership (on the right)*/

.benefit-mothership {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* individual benefit boxes (inside benefit-mothership) */

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* service boxes (on the left) */

.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.service img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
